<header class="navbar">

    <a href="index.html" class="logo">
        FSW<span>.</span>
    </a>

    <nav class="nav-links">

        <a href="index.html" class="active">
            Home
        </a>

        <a href="#">
            About
        </a>

        <a href="#events">
            Events
        </a>

        <a href="projects.html">
            Projects
        </a>

        <a href="#community">
            Community
        </a>

    </nav>

    <a href="#" class="join-btn" id="join-event-btn">
        Join FSW
        <span>↗</span>
    </a>

</header>